@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');


:root {
  --cpc-bg-body: hsl(0, 0, 100%);

  /* Columns background */
  --cpc-bg-card-orange: hsl(31, 77%, 52%);
  --cpc-bg-card-cyan: hsl(184, 100%, 22%);
  --cpc-bg-card-dark-cyan: hsl(179, 100%, 13%);

  /* Paragraphs */
  --cpc-t-transaprent-white: hsla(0, 0%, 100%, 0.75);

  /* Background, Headings, Buttons */
  --cpc-c-very-light-gray: hsl(0, 0%, 95%);

  --cpc-t-font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: var(--cpc-t-font-size);
}

body {
  min-height: 100vh;
  background: var(--cpc-bg-body);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

/* Column */
.columnContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 335px;
  padding: 55px
}

main .columnContainer:first-child {
  border-radius: 8px 8px 0 0;
}

main .columnContainer:last-child {
  border-radius: 0 0 8px 8px;
}

.columnContainer--orange {
  background: var(--cpc-bg-card-orange);
}

.columnContainer--cyan {
  background: var(--cpc-bg-card-cyan);
}

.columnContainer--dark-cyan {
  background: var(--cpc-bg-card-dark-cyan);
}

.columnContainer img {
  width: 70px;
}

.columnContainer_title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.75rem;
  color: #FFF;
}

.columnContainer_description {
  color: var(--cpc-t-transaprent-white);
  line-height: 1.7;
}

.columnContainer_button {
  background: #FFF;
  border-radius: 50px;
  padding: 13px 32px;
  float: left;
  border: 2px solid transparent;
  transition: 0.2s linear;
}

.columnContainer--orange .columnContainer_button {
  color: var(--cpc-bg-card-orange);
}

.columnContainer--cyan .columnContainer_button {
  color: var(--cpc-bg-card-cyan);
}

.columnContainer--dark-cyan .columnContainer_button {
  color: var(--cpc-bg-card-dark-cyan);
}

.columnContainer_button:hover,
.columnContainer_button:focus {
  background: transparent;
  color: #fff;
  border-color: #fff;
}


@media only screen and ( min-width: 1440px ) {
  main {
    flex-direction: row;
  }

  main .columnContainer:first-child {
    border-radius: 8px 0 0 8px;
  }
  
  main .columnContainer:last-child {
    border-radius: 0 8px 8px 0;
  }
}
